<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="header" class="page-header">
      <div class="container">
        <h1>Cibrary &mdash; <span th:text="${bookInfo.title}"></span></h1>
      </div>
    </div>

<div layout:fragment="content" class="container" id="body">
<div class="row">
<div class="col-md-4">
<img class="img-responsive img-thumbnail" th:src="${bookInfo.imageURL}" />
<hr />
<div class="text-center">
<form th:if="${session.user != null}" th:action="@{/books/action}"
          action="#" method="post" role="form">
          	<input type="hidden" name="bookInfo" th:value="${bookInfo.Id}" />
          	<input type="hidden" name="user" th:value="${session.user.id}" />
            <button type="submit" name="loan" th:if="${!bookInfo.available.isEmpty()}" class="col-xs-12 btn btn-success"><span class="glyphicon glyphicon-save"></span> Loan book</button>
            <button type="submit" name="edit" th:if="${session.user.isAdmin}" class="col-xs-12 btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit book</button>
            <button type="submit" name="add" th:if="${session.user.isAdmin}" class="col-xs-12 btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add another copy</button>
    </form>
    </div>
</div>
<div class="col-md-8">
<dl class="dl-horizontal">
<dt>Title</dt><dd th:text="${bookInfo.title}"></dd>
<dt>Author</dt><dd th:text="${bookInfo.author}"></dd>
<dt>Publication date</dt><dd th:text="${bookInfo.publicationDate}"></dd>
<dt>ISBN</dt><dd th:text="${bookInfo.ISBN}"></dd>
<dt>Edition</dt><dd th:text="${bookInfo.edition}"></dd>
<dt>Total copies</dt><dd th:text="${bookInfo.copies.size()}"></dd>
<dt>Available copies</dt><dd th:text="${bookInfo.available.size()}"></dd>
<dt>Description</dt><dd></dd>
</dl>
<p th:text="${bookInfo.description}"></p>
<p><a th:href="${bookInfo.URL}">More information</a></p>
</div>
</div>
</div>
</body>
</html>