<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="header" class="page-header">
      <div class="container">
        <h1>Cibrary &mdash; Book List</h1>
      </div>
    </div>


<div layout:fragment="content">
<table class="table table-striped">
<thead>
<tr><th>ISBN</th><th>Title</th><th>Author</th><th>Date of publication</th><th>Edition</th></tr>
</thead>
<tbody>
    <tr th:each="bookInfo : ${listOfBooks}">
        <td th:text="${bookInfo.ISBN}"></td>
        <td><a th:href="@{/books/info/} + ${bookInfo.id}"><span th:text="${bookInfo.title}"></span></a></td>
        <td th:text="${bookInfo.author}"></td>
        <td th:text="${bookInfo.publicationDate}"></td>
        <td th:text="${bookInfo.edition}"></td>
        <td th:if="${session.user != null}">
        <form th:if="${session.user != null &amp;&amp; !bookInfo.available.isEmpty()}" th:action="@{/loans/loan}"
          action="#" method="post" role="form">
          	<input type="hidden" name="bookInfo" th:value="${bookInfo.Id}" />
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Loan book</button>
    </form>
        </td>
    </tr>
</tbody>
</table>
</div>
</body>
</html>