<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="header" class="page-header">
      <div class="container">
        <h1>Cibrary &mdash; Add Book</h1>
      </div>
    </div>

<div layout:fragment="content">
    <form id="bookForm" th:action="@{/books/save}" th:object="${bookInfo}"
          action="#" method="post" role="form">

			<div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" th:field="*{title}" />
            </div>
            
            <div class="form-group">
            <label for="title">Author</label>
            <input type="text" class="form-control" th:field="*{author}" />
            </div>
            
            <div class="form-group">
            <label for="title">Publication date</label>
            <input type="date" class="form-control" th:field="*{publicationDate}" />
            </div>
            
            <div class="form-group">
            <label for="title">URL</label>
            <input type="text" class="form-control" th:field="*{URL}" />
            </div>
            
            <div class="form-group">
            <label for="title">ISBN</label>
            <input type="number" class="form-control" th:field="*{ISBN}" />
            </div>
            
            <div class="form-group">
            <label for="title">URL for image</label>
            <input type="text" class="form-control" th:field="*{imageURL}" />
            </div>
            
            <div class="form-group">
            <label for="title">Edition</label>
            <input type="text" class="form-control" th:field="*{edition}" />
            </div>
            
            <div class="form-group">
            <label for="title">Description</label>
            <textarea class="form-control" th:field="*{description}" rows="5"></textarea>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Create"/>
    </form>
</div>
</body>
</html>