<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="header" class="page-header">
      <div class="container">
        <h1>Cibrary &mdash; Book List</h1>
      </div>
    </div>


<div layout:fragment="content">
<table class="table">
<thead>
<tr class="active"><th></th><th>Title</th><th>Author</th><th>Available copies</th><th>Edition</th><th></th></tr>
</thead>
<tbody>
    <tr class="active" th:each="bookInfo : ${listOfBooks}">
        <td class="col-xs-1"> <img class="img-responsive img-thumbnail" th:src="${bookInfo.imageURL}"/></td>
        <td><a th:href="@{/books/info/} + ${bookInfo.id}"><span th:text="${bookInfo.title}"></span></a></td>
        <td th:text="${bookInfo.author}"></td>
        <td th:text="${bookInfo.available.size()}"></td>
        <td th:text="${bookInfo.edition}"></td>
        <td th:if="${session.user != null}">
        <form th:if="${session.user != null &amp;&amp; !bookInfo.available.isEmpty()}" th:action="@{/loans/loan}"
          action="#" method="post" role="form">
          	<input type="hidden" name="bookInfo" th:value="${bookInfo.Id}" />
        <button type="submit" class="col-xs-12 btn btn-success"><span class="glyphicon glyphicon-save"></span> Loan book</button>
	    </form>
	    <button disabled="disabled" th:if="${session.user == null || bookInfo.available.isEmpty()}" class="btn btn-default col-xs-12"><span class="glyphicon glyphicon-save"></span> Book unavailable</button>
        </td>
    </tr>
</tbody>
</table>
</div>
</body>
</html>