<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
    <div layout:fragment="header">
    <div class="frontpage" />
    </div>


	<div layout:fragment="content">
		<div th:if="${listOfBooks != null}" class="row">
	    <div class="col-lg-2 col-md-4 col-sm-6" th:each="bookInfo : ${listOfBooks}">
	            <a th:href="@{/books/info/} + ${bookInfo.Id}"><img class="img-responsive img-thumbnail" th:src="${bookInfo.imageURL}" /><br />
				<span th:text="${book.bookInfo.title}" /></a>
	    </div>
		</div>
	
    </div>

</body>
</html>