<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
    <div layout:fragment="header">
    <div class="frontpage" />
    </div>


	<div layout:fragment="content">
		<div th:if="${listOfBooks != null}" class="row">
	    <div class="col-lg-4 col-md-6 col-sm-12" th:each="bookInfo : ${listOfBooks}">
		    <div class="thumbnail">
	            <a th:href="@{/books/info/} + ${bookInfo.Id}"><img class="img-responsive img-thumbnail" th:src="${bookInfo.imageURL}" /></a>
	            <div class="caption">
					<a th:href="@{/books/info/} + ${bookInfo.Id}" th:text="${bookInfo.title}"></a>
	            </div>
            </div>
	    </div>
	    </div>
    </div>

</body>
</html>