<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
    <div layout:fragment="loginform"></div>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div layout:fragment="header" class="page-header">
      <div class="container">
        <h1>Cibrary &mdash; Register User</h1>
      </div>
    </div>

    <div layout:fragment="content" class="container" id="body">
    	<form th:action="@{/user/signup}" role="form" method="post" th:object="${user}">
    	<div class="form-group"><label for="name">Name</label> <input class="form-control" type="text" th:field="*{name}" /></div>
    	<div class="form-group"><label for="password">Password</label> <input class="form-control" type="password" th:field="*{password}"/></div>
    	<div class="form-group"><label for="repeat">Repeat password</label> <input class="form-control" type="password" name="repeat"/></div>
    	<div class="checkbox"><label><input type="checkbox" th:field="*{isAdmin}" /> Administrator</label></div>
        <button type="submit" class="btn btn-primary">Register</button>
    	</form>
    </div>

</body>
</html>